body {
	background-color: lightgray;
	font-family: trebuchet ms;	
}

hr {
  width: 95%;	
  border: thin black solid
}

#helesiden {
	width: 60%;
	margin: 0 auto;
	min-width: 800px;
}

#container {
	float: left;
	width: 75%;
	margin: 0 auto;
}

#header {
	width: 100%;
	text-align:center;
	margin: 0 auto;
	background-image: url('gress.jpg');
	background-repeat: repeat-x repeat-y;
	
	/* CSS 3.0 */
	-webkit-border-top-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-topleft: 10px;
}

#header a {
	color: white;
	font-size: 170%;
	text-decoration: none;
}

#header p, h1 {
	margin: 0;
}

#menu {
	border-top: thin solid white;
	text-align: left;
}

#menu a {
	color: white;
	font-size: 130%;
	margin-left: 2%;
}

#menu a:hover{
	text-decoration: underline;
}

#menu img {
	border: none;
}

#content {
	width: 100%;
	height: 100%;
	margin: 0 0 0 0;
	background-color: white;
	border-bottom: thin solid white;
}

#footer {
	width: 100%;
	margin: 0 0 0 0;
	background-image: url('gress.jpg');
	background-repeat: repeat-x;
	color: white; 	
	
	/* CSS 3.0 */
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
}

#footer p {
	margin: 0 0 0 2%;
} 

#footer  a {
	float: right;
	margin-right: 2%;
	margin-left: 2%;
	color: white;	
}


#sidebar {
	float: right;
	width: 24%;
	margin: 0 auto;
	background-color: white;
	
	/* CSS 3.0 */
	-webkit-border-top-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-topleft: 10px;
}

#sidebar h4 {
	padding: 1%;
	color: white; 
	text-align: left;
	margin: 0;
	background-image: url('gress.jpg');
	background-repeat: repeat-x;
	
	/* CSS 3.0 */
	-webkit-border-top-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-topleft: 10px;
}

#sidebar p {
	font-size: 70%;
	margin: 0 0 0 2%;
}

#sidebar table {
	line-height: 60%;
	margin: 0 0 0 2%;
}

#sidebar td {
	border-bottom: thin solid lightgray;
}

#sidebar img{
	border: thin solid black;
	float: left;
	margin-left: 2%;
	margin-top: 1%;
}

#sidebar strong{
	text-decoration: underline;
} 

.col1 {
	width: 10%;
}

.col2 {
	width: 80%;
}

.col3 {
	width: 10%;
}


