* {
	padding: 0; 
	margin: 0;
}

body {
	background-color: lightgray;
	font-family: trebuchet ms;	
}

hr {
  width: 98%;	
  border: thin lightgray solid;
  margin: auto;
  margin-top: 2%;
}

#helesiden {
	width: 60%;
	margin: 0 auto;
	min-width: 850px;
	margin-top: 1%;
}

#container {
	float: left;
	width: 73%;
	margin: 0 auto;
}

#header {
	width: 100%;
	text-align:center;
	margin: 0 auto;
	background-image: url('gress.jpg');
	background-repeat: repeat-x repeat-y;
	
	/* CSS 3.0 */
	-webkit-border-top-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-topleft: 10px;
}

#header a {
	color: white;
	font-size: 170%;
	text-decoration: none;
}

#header p, h1 {
	margin: 0;
}

#menu {
	border-top: thin solid white;
	text-align: left;
}

#menu a {
	color: white;
	font-size: 110%;
	margin-left: 2%;
}

#menu a:hover{
	text-decoration: underline;
	color: #FFFF99;
}

#menu a.active {
	color: #FFFF99;
	text-decoration: underline;
}

#menu img {
	border: none;
}

#content {
	width: 100%;
	margin: 0 0 0 0;
	background-color: white;
	border-bottom: thin solid white;
	border-top: thin solid white;
	min-height: 500px;
	clear: both;
	overflow: auto
}

#content p  {
	font-size: 80%;
	margin: 1% 0 0 1%;
}

#content a {
	margin: 0;
}	

#content h1 {
	font-size: 110%;
	margin: 2% 0 0 1%;
}

#content h2 {
	font-size: 100%;
	margin: 2% 0 0 1%;
}

#content h3 {
	font-size: 90%;
	margin: 2% 0 0 1%;
}

#content h4 {
	font-size: 80%;
	margin: 2% 0 0 1%;
}

#content img {
	border: none;
	vertical-align: text-top;
	float: right;
	margin-right: 4%;
}

#maincol1 {
	float: left;
	width: 49%;
	margin: 0 0 0 1%;
	border-right: thin lightgray solid; 
}

#maincol2 {
	float: right;
	width: 48%;
	margin: 0 1% 0 0;
}

#footer {
	clear: both;
	width: 100%;
	margin: 0 0 0 0;
	background-image: url('gress.jpg');
	background-repeat: repeat-x;
	color: white; 	
	
	/* CSS 3.0 */
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
}

#footer p {
	margin: 0 0 0 2%;
} 

#footer  a {
	float: right;
	margin-right: 2%;
	margin-left: 2%;
	color: white;	
}

#footer a:hover{
	text-decoration: underline;
	color: #FFFF99;
}

#sidebar {
	float: right;
	width: 26%;
	margin: 0 auto;
	background-color: white;
	
	/* CSS 3.0 */
	-webkit-border-top-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-topleft: 10px;
}

#sidebar h4 {
	padding: 1%;
	color: white; 
	text-align: left;
	margin: 0 0 0 0;
	border-bottom: thin white solid;
	background-image: url('gress.jpg');
	background-repeat: repeat-x;
	
	/* CSS 3.0 */
	-webkit-border-top-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-topleft: 10px;
}

#sidebar p {
	font-size: 70%;
	margin: 0 0 0 2%;
}

#sidebar table {
	line-height: 60%;
	margin: 0 0 0 2%;
}

#sidebar td {
	border-bottom: thin solid lightgray;
}

#sidebar img{
	border: thin solid black;
	float: left;
	margin-left: 2%;
	margin-top: 1%;
}

#sidebar strong{
	text-decoration: underline;
} 

#update {
	text-align: center;
	font-size: 70%;
}

.col1 {
	width: 5%;
}

.col2 {
	width: 75%;
}

.col3 {
	width: 20%;
}

.showhide{
	float: right;
	color: white;
	font-size: 60%;
}
